/*common*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    height:550px;
    background-color: #0C325A;
    background-image:url("../img/background-header.png");
    background-position: 112% 106%;
    background-size: 55% auto;
    background-repeat: no-repeat;
}
.container{
    width:80%;
    margin:0 auto;
}
.clearfix::after{
    content: "";
    display:table;
    clear: both;
}

.float-left{
    float:left;
}
.float-right{
    float:right;
}
.w-50{
    width:50%;
}
.w-33{
    width:33%;
}
.list-inline li:not(.btn){
    display: inline-block;
    padding: 0 10px;
    list-style: none;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}
.list-inline a:not(.btn){
    text-decoration: none;
    color: white;
}
.list-inline a:hover {
    color:#7CBB02;
}
.btn{
    display: inline-block;
    padding:5px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 14px;
    color:white;
}
.btn-blu{
    padding:5px 20px;
    background-color:#0C325A ;
    border: 1px solid white;
}
.btn-blu:hover{
    background-color: white;
    border: 1px solid #0C325A;
}
.btn-green{
    background-color: #7CBB02;
    color:white;
}
.btn-green:hover{
    background-color:white;
    border: 1px solid #7CBB02;

}
.btn-lg{
    padding:20px;
    background-color: #7CBB02;
}
/*header*/
.header-nav{
    height:80px;
    line-height: 80px;
}
.header-logo{
    width:15%;
}
.header-logo img{
    vertical-align: middle;
}
.nav-left{
    width:45%;
    text-align:left;
}

.nav-right{
    width:40%;
    text-align:right;
}

.jumbotron{
    position:relative;
}
.jbt-text{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(50%);
}
    
h1{
    color:white;
    font-size:50px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/*main*/
.first-section{
    height:150px;
    background-color: #D3D3D3;
    position:relative;
    text-align:center;
}

.section-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
h2{
    margin-bottom: 10px;
}
.section-text p{
    letter-spacing: 1px;
    font-weight: 600;
}

.col-left, .col-center, .col-right{
    text-align: center;
    width:calc(100%/3 - 50px);
    margin-right:50px;
}
article img{
    margin-top:50px;
    margin-bottom:50px;
    height:200px;
}
.text-green{
    height:80px;
    color:#86C015;
    font-size:30px;
}
article hr{
    width:15%;
    margin:0 auto;
    margin-bottom: 20px;
}
.text-grey{
    color:#808080;
}
.desc{
    line-height: 1.6;
    font-size:20px;
    margin-bottom: 20px;
}

#division{
    color:lightgrey;
    margin-bottom:50px;

}
.art-text{
    text-align: left;
    width:80%;
}
.art-text > h2{
     font-size:35px;
}
.art-text > a{
    color:#5586BC;
    font-size: 18px;;
}
footer{
    padding-top:50px;
    background-color: #D3D3D3;
    height: 200px;
    position:relative;
}
label{
    color: #808080;
    margin-right:20px ;
}
select{
    width: 100px;
    margin-right:20px ;
    text-align: left;
    color: #808080;
    border-style: hidden;
    border-bottom: 1px solid #808080;
    background-color:#D3D3D3; 
}
.part-one, .part-two{
    display: inline-block;
}

.help{
   margin-top:10px;
   margin-right:80px;
   position:fixed;
   bottom:50px;
   right:350px;
}